services:
  auth-coprocessor:
    container_name: auth-coprocessor
    build:
      context: ./coprocessor
      dockerfile: Dockerfile
    ports:
      - "4005:4005"
    environment:
      FIREBASE_SERVICE_ACCOUNT: firebase-service-account.json

    networks:
      - fitrang-net

  federation-service:
    container_name: federation-service
    build:
      context: ./federation
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    depends_on:
      - auth_coprocessor
    environment:
      APOLLO_GRAPH_REF: FitRang@current
      APOLLO_KEY: service:FitRang:dERWDVICawgON5zrA3jTfw

    networks:
      - fitrang-net

  profile-service:
    container_name: profile-service
    build:
      context: ./profile-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    env_file:
      - .env-example
    depends_on:
      - redis
      - broker
    networks:
      - fitrang-net

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - fitrang-net
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

networks:
  fitrang-net:
