services:

  kong:
    container_name: kong
    build:
      context: ./kong
      dockerfile: Dockerfile
    ports:
      - "8000:8000"

  federation-service:
    container_name: federation-service
    build:
      context: ./federation
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    ulimits:
      nofile:
        soft: 100000
        hard: 100000
    environment:
      APOLLO_GRAPH_REF: FitRang@current
      APOLLO_KEY: 

    networks:
      - fitrang-net

  profile-service:
    container_name: profile-service
    build:
      context: ./profile-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    env_file:
      - .env-example
    depends_on:
      - redis
      - broker
    networks:
      - fitrang-net

  notification-service:
    container_name: notification-service
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    env_file:
      - .env-example
    depends_on:
      - redis
      - broker
    networks:
      - fitrang-net

  indexing-worker:
    container_name: indexing-worker
    build:
      context: ./indexing-worker
      dockerfile: Dockerfile
    env_file:
      - .env-example
    depends_on:
      - profile-service
      - redis
      - broker
      - elasticsearch
    networks:
      - fitrang-net

  fanout-consumer:
    container_name: fanout-consumer
    build:
      context: ./fanout-consumer
      dockerfile: Dockerfile
    env_file:
      - .env-example
    depends_on:
      - profile-service
      - redis
      - broker
      - elasticsearch
    networks:
      - fitrang-net

  delivery-service:
    container_name: delivery-service
    build:
      context: ./delivery-service
      dockerfile: Dockerfile
    ports:
      - "8084:8084"
    env_file:
      - .env-example
    depends_on:
      - profile-service
      - redis
      - broker
      - elasticsearch
    networks:
      - fitrang-net

  analysis_service:
    container_name: analysis_service
    build:
      context: ./analysis_service
      dockerfile: Dockerfile
    ports:
      - "8085:8085"
    env_file:
      - .env-example
    depends_on:
      - profile-service
      - redis
      - broker
      - elasticsearch
    networks:
      - fitrang-net

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - fitrang-net
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

networks:
  fitrang-net:
